
body, html {
    margin: 0;
    padding: 0;
   
   
    flex-direction: column;
    
    background-color: #000000;
}


.header {
    display:inline;
    justify-content: space-between;
    

    
}
.right-icons {
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    right: 0;
    padding-top: 2%;
}




.icons {
    width: 50px;
    height: 50px;
    
}




h1, h2, h3, h4, h5, h6 {
   
    background: linear-gradient(to right, #4B0082, #8A2BE2, #DA70D6);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    
}


h1 {
    font-size: 80px;
    margin: 20px 0;
}

h2, h3, h4, h5, h6 {
    margin: 15px 0;
    font-size: 30px;
    
}

p {
    color: #8A2BE2;
    font-size: 20px;
    margin: 10px 0;
}

.hero-section {
    height: 100vh; 
    display: flex; 
    justify-content: flex-start; 
    
    background-color:  #000000; 
    padding-top: 20%;
}


.text-content {
   
   
  
    font-size: 28px; 
    
    max-width: 400px; 
    text-align: left;
    padding: 20px;
}

.home-icon {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    z-index: 1000; 
}

.home-icon .icon {
    width: 48px; 
    height: 48px; 
}
.spline-container {
    flex: 2; 
    height: 350px; 
    margin-left: 10px; 
    margin-top: -200px; 
}


.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #8A2BE2;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.left-arrow {
    left: 10px; 
    margin-left: -50px; 
}

.right-arrow {
    right: 10px; 
    margin-right: -30px; 
}


.carousel {
    margin-top: 50px;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    display: flex;
    flex: 1;
    gap: 10px;
    padding: 20px 50px; 
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none; 
}


.carousel-track {
    display: flex;
    gap: 50px;
}


.carousel-card {
    position: relative;
    height: 400px;
    width: 350px;
    border-radius: 15%;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    scroll-snap-align: start; 
    transition: transform 0.3s ease; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.carousel-card:hover {
    transform: scale(1.05); 
}


.carousel-card.card1 {
    background-image: url('models/Screenshot\ 2024-11-12\ 154739.png');
    background-size: cover; 
    background-position: center; 
}

.carousel-card.card2 {
    background-image: url('models/Screenshot 2024-10-16 153739.png');
    background-size: cover; 
    background-position: center; 
}

.carousel-card.card3 {
    background-image: url('models/Screenshot 2024-10-16 184119.png');
    background-size: cover; 
    background-position: center; 
}

.carousel-card.card4 {
    background-image: url('models/Screenshot 2024-10-16 200822.png');
    background-size: cover; 
    background-position: center; 
}

.carousel-card.card5 {
    background-image: url('models/Screenshot 2024-10-26 125813.png'); 
    background-size: cover; 
    background-position: center; 
}

.carousel-card.card6 {
    background-image: url('models/Screenshot 2024-10-15 181726.png'); 
    background-size: cover; 
    background-position: center; 
}


.carousel-card > div {
    color: white;
    text-shadow: 0px 0px 5px #45A29E, 0px 0px 10px #45A29E;
}


.carousel-card > div {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    color: #8A2BE2;
    font-family: 'Aworn', sans-serif;
    font-size: 24px;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}


.carousel-card:hover > div {
    opacity: 1; 
}


.carousel-card:hover {
    backdrop-filter: blur(15px);
    background: aliceblue;
}






@media (min-width: 768px) {
    .projects-section {
        margin-bottom: 70px; 
    }

    .experience-section {
        margin-top: 70px; 
    }
}


@media (max-width: 767px) {
    .projects-section {
        margin-bottom: 30px; 
    }

    .experience-section {
        margin-top: 30px; 
    }
}


.experience-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh; 
    margin-top: 25%; 
    padding: 20px; 
}

.experience-heading {
    font-size: 2.5rem;
    margin-bottom: 50px;
    z-index: 1; 
}

.skills-icons {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 500px;
    overflow: visible;
}

.icon {
    position: absolute;
    width: 60px;
    height: 60px;
    opacity: 0;
    animation: scatter-stay 1s forwards ease-in-out, move-unique 6s infinite ease-in-out;
}


@keyframes scatter-stay {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    100% {
        opacity: 1;
        transform: translate(var(--x), var(--y));
    }
}


@keyframes move-unique-1 {
    0% {
        transform: translate(var(--x), var(--y));
    }
    50% {
        transform: translate(calc(var(--x) + 50px), calc(var(--y) + 30px));
    }
    100% {
        transform: translate(var(--x), var(--y));
    }
}

@keyframes move-unique-2 {
    0% {
        transform: translate(var(--x), var(--y));
    }
    50% {
        transform: translate(calc(var(--x) - 40px), calc(var(--y) + 50px));
    }
    100% {
        transform: translate(var(--x), var(--y));
    }
}

@keyframes move-unique-3 {
    0% {
        transform: translate(var(--x), var(--y));
    }
    50% {
        transform: translate(calc(var(--x) + 60px), calc(var(--y) - 30px));
    }
    100% {
        transform: translate(var(--x), var(--y));
    }
}

@keyframes move-unique-4 {
    0% {
        transform: translate(var(--x), var(--y));
    }
    50% {
        transform: translate(calc(var(--x) - 30px), calc(var(--y) - 50px));
    }
    100% {
        transform: translate(var(--x), var(--y));
    }
}

@keyframes move-unique-5 {
    0% {
        transform: translate(var(--x), var(--y));
    }
    50% {
        transform: translate(calc(var(--x) + 70px), calc(var(--y) + 70px));
    }
    100% {
        transform: translate(var(--x), var(--y));
    }
}

@keyframes move-unique-6 {
    0% {
        transform: translate(var(--x), var(--y));
    }
    50% {
        transform: translate(calc(var(--x) - 60px), calc(var(--y) - 40px));
    }
    100% {
        transform: translate(var(--x), var(--y));
    }
}


@keyframes move-unique-7 {
    0% {
        transform: translate(var(--x), var(--y));
    }
    50% {
        transform: translate(calc(var(--x) + 80px), calc(var(--y) - 20px));
    }
    100% {
        transform: translate(var(--x), var(--y));
    }
}

@keyframes move-unique-8 {
    0% {
        transform: translate(var(--x), var(--y));
    }
    50% {
        transform: translate(calc(var(--x) - 50px), calc(var(--y) + 60px));
    }
    100% {
        transform: translate(var(--x), var(--y));
    }
}


.skills-icons .icon:nth-child(1) { 
    --x: -300px; 
    --y: -200px;
    animation: move-unique-1 6s infinite ease-in-out;
}
.skills-icons .icon:nth-child(2) { 
    --x: 250px; 
    --y: -150px;
    animation: move-unique-2 7s infinite ease-in-out;
}
.skills-icons .icon:nth-child(3) { 
    --x: -150px; 
    --y: 200px;
    animation: move-unique-3 5s infinite ease-in-out;
}
.skills-icons .icon:nth-child(4) { 
    --x: 200px; 
    --y: -80px;
    animation: move-unique-4 6s infinite ease-in-out;
}
.skills-icons .icon:nth-child(5) { 
    --x: -350px; 
    --y: 150px;
    animation: move-unique-5 6.5s infinite ease-in-out;
}
.skills-icons .icon:nth-child(6) { 
    --x: 150px; 
    --y: 250px;
    animation: move-unique-6 5.5s infinite ease-in-out;
}
.skills-icons .icon:nth-child(7) { 
    --x: -200px; 
    --y: -300px;
    animation: move-unique-7 7s infinite ease-in-out;
}
.skills-icons .icon:nth-child(8) { 
    --x: 80px; 
    --y: 200px;
    animation: move-unique-8 5s infinite ease-in-out;
}
.skills-icons .icon:nth-child(9) { 
    --x: -150px; 
    --y: 150px;
    animation: move-unique-1 6.5s infinite ease-in-out;
}
.skills-icons .icon:nth-child(10) { 
    --x: 350px; 
    --y: -200px;
    animation: move-unique-2 5s infinite ease-in-out;
}
.skills-icons .icon:nth-child(11) { 
    --x: -250px; 
    --y: -80px;
    animation: move-unique-3 6s infinite ease-in-out;
}
.skills-icons .icon:nth-child(12) { 
    --x: 400px; 
    --y: -200px;
    animation: move-unique-4 7s infinite ease-in-out;
}
.skills-icons .icon:nth-child(13) { 
    --x: -80px; 
    --y: -300px;
    animation: move-unique-5 6s infinite ease-in-out;
}
.skills-icons .icon:nth-child(14) { 
    --x: 200px; 
    --y: -150px;
    animation: move-unique-6 5s infinite ease-in-out;
}
.skills-icons .icon:nth-child(15) { 
    --x: -150px; 
    --y: -200px;
    animation: move-unique-7 7s infinite ease-in-out;
}
.skills-icons .icon:nth-child(16) { 
    --x: 300px; 
    --y: -300px;
    animation: move-unique-8 6s infinite ease-in-out;
}
.skills-icons .icon:nth-child(17) { 
    --x: -400px; 
    --y: -80px;
    animation: move-unique-1 5.5s infinite ease-in-out;
}
.full-width-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color:  #000000; 
}
.card {
    background: #000000;
    border-radius: 20px;
    box-shadow: 
        0 10px 30px rgba(0, 0, 0, 0.3), 
        0 0 20px #4B0082, 
        0 0 30px #8A2BE2, 
        0 0 40px #DA70D6; 
    overflow: hidden;
    max-width: 400px;
    text-align: center;
    color: #A5CAC3;
    height: 600px;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 
        0 10px 30px rgba(0, 0, 0, 0.3), 
        0 0 30px #4B0082, 
        0 0 40px #8A2BE2,
        0 0 50px #DA70D6; 
}


.card-image img {
    margin-top: 10%;
    width: 50%;
    height: 100%;
    
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    font-size: 30px;
    color: #473e3e;
    line-height: 1.5;
}
